@font-face {
    font-family: JoseFinSans;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

body{
    font-family: 'JoseFinSans', Arial, Helvetica, sans-serif;
    color: white;
}

header {
    padding: 25px;

}

header h1 {
    text-align: center;
    font-size: 80px;
}

header p {
    padding-top: 25px;
}


/*Main*/
main{
    margin-top: 50px;;
}

#questions, #end, #highscores {
    display: none;
}

#intro p{
    font-size: 22px;
}

